<h3>{{viewTitle}}</h3>

<form action="/employee" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{ user._id }}">
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="name" placeholder="Full Name" value="{{user.name}}" required >
        <div class="text-danger">
            {{user.fullNameError}}</div>
    </div>
    <div class="form-group">
        <label>Address</label>
        <input type="text" class="form-control" name="address" placeholder="Address" value="{{user.address}}" required>
        <div class="text-danger">
            {{user.emailError}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Mobile</label>
            <input type="number" class="form-control" name="mobile" placeholder="Mobile" value="{{ user.mobile }}" required min="1000000000" max="9999999999">
        </div>
        <div class="form-group col-md-6">
            <label>Amount</label>
            <input type="number" class="form-control" name="amount" placeholder="Amount" value="{{ user.amount }}" required min="1">
        </div>
    </div>
    <div class="form-group">
        <label>Gift:</label>
        <input type="text" class="form-control" name="gift" placeholder="Gift" value="{{user.gift}}">
        <div class="text-danger">
            {{user.giftError}}</div>
    </div>
    <div class="form-group">
        <label>hindi Name</label>
        <input type="text" class="form-control" name="hindiName" placeholder="Hindi name here" value="{{user.hindiName}}"style = "font-family:  font-family: 'Poppins', sans-serif; border: 2px solid red; color:red;">
        <div class="text-danger" >
            {{user.fullNameError}}</div>
    </div>

     <div class="form-group">
        <label>hindi Address</label>
        <input type="text" class="form-control" name="hindiAddress" placeholder="Hindi Address here" value="{{user.hindiAddress}}">
        <div class="text-danger" >
            {{user.fullNameError}}</div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/employee/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>